body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dropdown-menu-align-end{
  height: 10%;
  padding-top: 20px;
  width: 100%;
  position: sticky;
  background-color: orange;
  

}

nav{
  opacity: 0.9;
  background-color: black;
  color: rgb(255, 254, 253);
  height: 70px;
  width: 100%;
  position: sticky;
  margin-right: 20px;
  margin-right: 20px;
  text-align: center;
  
  
}
#inicio{
  border-radius: 5px;
  align-content: center;
  color: aliceblue;
   padding-left: 60px;
  padding-right: 60px;
}
#jo{
  font-size: larger;
}

#inicio:hover { 

  background: rgb(236, 199, 130); 
  
} 
#dropdown-autoclose-inside{
  background-color: black;
  border-color: black;
  opacity: 0.5;
}
#dropdown-autoclose-inside:hover{
  background: rgb(236, 199, 130); 
}
section{
  background-image:url(fondo.jpg);
  opacity: 0.8;
  background-size: cover;
  width: 1900px;
  height: 800px
}
h2{
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding-top: 15%; 
 text-align: center;
}
h3{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 3%; 
  text-align: center;
 }
 #porta{
 

  width: 150px;
  background-color:black;
  color: white;
  padding: 10px 20px;
  padding-left: 5px;
  border-radius: 5px;
  opacity: 0.6;
 }
 #po{

  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 #porta:hover { 

  background: rgb(236, 199, 130); 
  
} 