.contenedor{
    width:28%;
    height:28%;
    margin-top: 16%;
    margin-left: 34%;
}

.carousel-item{
    width: 50%;
    height:50%;
}

.imagenuno{
    width: 550px;
    height:500px;
}

.imagendos{
    width:550px;
    height:500px;
}

.imagentres{
    width:550px;
    height:500px;
}